<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CS 499 Trivia</title>
    {{> includes}}
  </head>
  <body>
    {{> nav}}
    <div class="container fadeable">
      <div class="flex-column">
        <h1 class="banner" align="center"> Game Over </h1>
        <button
          class ="btn-primary"
          style="display: inline-block;"
          onclick="location.href='/';">
          New Game?
        </button>
      </div>
    </div>
  </body>
</html>
