<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CS 499 Trivia</title>
    {{> includes}}
  </head>
  <body>
    {{> nav}}
    <div class="container">
      <p>Welcome to Group Fibbage's project for CS 499.</p>
    </div>
  </body>
</html>
