<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tribage</title>
    {{> includes}}
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>
  <body>
    {{> nav}}
    <div class="container fadeable">
      <div class="row">
        <h1 class="banner" align="center"> Trivia Game </h1>
        <p class="game-description">Tribage is the educational trivia party game brought to you by three George Mason C.S. students. Inspired by the <a href=”http://jackboxgames.com/project/fibbage/”>Fibbage</a> game style, we developed this trivia game using JavaScript. Play with 2 or more friends to test each other's knowledge and have a laugh at the same time. Best of all, your phone or tablet is your controller and you don’t need to install a thing since Tribage is built for the World Wide Web.</p>
        <p class="game-description">Questions can range from, <i>“Where is the Page Table stored?”</i> to <i>“What was the first movie Owen Wilson starred in?”</i>. It’s all up to you, as our Question Database is growing and diversifying every day. </p>
        <p class="game-description">Tribage is open-source (viewable on <a href="https://github.com/zachprinz/trivia_project">Github</a>) and free to play, so what are you waiting for? Hack it or play with friends to become the hero of your next party or study session.</p>
      </div>
    </div>
  </body>
</html>
