<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CS 499 Trivia</title>
    {{> includes}}
    <script type="text/javascript" src="/js/HubClient.js"></script>
  </head>
  <body>
    {{> nav}}
    <div class="container fadeable">
      {{> question}}
      <div class="flex end">
        <div class="eventlabel nav-display">
          <span id="eventLabelEvent"></span>
          <span id="eventLabelTime"></span>
        </div>
      </div>
      <h2 class="players-label inline">Players: </h2>
      <h3 class="playercount-label inline">0</h3>
      <ul id="playerList">
        <!-- Empty -->
      </ul>
    </div>
  </body>
</html>
