<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CS 499 Trivia</title>
    {{> includes}}
    <script type="text/javascript" src="/js/PlayerClient.js"></script>
  </head>
  <body>
    {{> nav}}
    <div class="container fadeable">
      <div class="row">
        <div class="questionBody">
          {{> qa}}
        </div>
        <div class="flex split">
          <button id="answer_submit_button"
            type="button"
            class="btn-primary"
            disabled="true">
            Submit
          </button>
          <div class="eventlabel nav-display">
            <span id="eventLabelEvent"></span>
            <span id="eventLabelTime"></span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
