<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CS 499 Trivia</title>
    {{> includes}}
    <script type="text/javascript" src="/js/handlers.js"></script>
  </head>
  <body>
    {{> nav}}
    <div class="container">
      <div class="questionBody">
        <!-- Empty -->
      </div>
      <button type="button" id="answer_submit_button" disabled="true">Submit</button>
      <button type="button" id="next_question_button" disabled="true">Next</button>
    </div>
  </body>
</html>
