#answer_list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.answer {
  cursor: default;
  padding: 4px 0 4px 10px;
  transition: padding 0.2s;
  margin-bottom: 5px;
  box-sizing: border-box;
  animation-timing-function: linear;
  animation-fill-mode: both;
  user-select: none;
  display: inline-block;
  position: relative;
}

.answer.active {
  cursor: pointer;
}

.answer .answer-select {
  height: 100%;
  background-color: #FC6C37;
  position: absolute;
  width: 0px;
  left: 0px;
  top: 0;
  transition: width 0.2s;
  z-index: -1;
}

.answer.selected.incorrect  .answer-select {
  background-color: #FC3737;
  width: 100%;
}

.answer.selected.correct  .answer-select {
  background-color: #36DC75;
  width: 100%;
}

.answer.selected  .answer-select {
  width: 25px;
}

.answer.active:not(.selected):hover .answer-select{
  width: 5px;
}

.answer.selected {
  /* Padded area will be highlighted on grade. */
  padding-left: 30px;
  padding-right: 30px;
}
