/* General */

.nav{
  box-shadow:inset 0 1px 0 hsla(0,0,100%,.15),0 1px 5px rgba(0,0,0,.075);
  color:#e2dff3;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background-color: #448DE5;
}

.nav-content{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  position: relative;
  z-index: 200;
  background-color: #448DE5;
}

.nav-group{
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
}

.nav-title{
  color:#e2dff3;
  cursor:default;
}

.sub-menu{
  display:none;
}

/* Desktop */
@media screen and (min-width: 701px) {
  .nav-content {
    justify-content: flex-start;
  }

  .nav-stub {
    height: 50px;
  }

  .nav-display{
    margin-right:12px;
    height:29px;
  }

  .nav-group{
    display:flex;
  }

  .nav-tab{
    margin-left:20px;
    align-self:stretch;
    display:flex;
    align-items:center;
    justify-content:space-around;
    height:42px;
    width:55px;
    padding:0 5px;
    position:relative;
  }

  .nav-tab>i,.nav-tab>.nav-link{
    padding-top:5px;
  }

  .nav-tab:after{
    display:block;
    position:absolute;
    left:0;
    bottom:-4px;
    width:0;
    height:4px;
    content:'';
    transition:width .2s;
    background:#fc6c37;
  }

  .nav-tab:hover{
    color:#e2dff3;
  }

  .nav-tab:hover:after{
    width:100%;
  }

  .nav-tab.active{
    border-bottom-style:solid;
    border-bottom-color:#fc6c37;
    border-bottom-width:4px;
  }

  .nav-title{
    margin-right:12px;
    font:25px/20px 'Cantora One',sans-serif;
  }

  .nav-link{
    text-shadow:none;
    color:#e2dff3;
    font-size:18px;
    text-decoration:none;
    display:flex;
    flex-direction:row;
    align-items:baseline;
  }

  .nav-link-menu-icon{
    display:none;
  }

  .navlink:hover{
    background:#eaeaea;
  }

  .questionBody{
    margin:10px 0;
  }

  .row{
    margin-bottom:10px;
  }
}

/* Phone */
@media screen and (max-width: 700px) {
  .nav-stub {
    height: 70px;
    transition:height .2s;
  }

  .nav-stub.menuOpen {
    height: 120px;
  }

  .nav-display{
    margin-right:6px;
    margin-top:10px;
    height:22px;
  }

  .nav-content{
    padding: 10px;
  }

  .nav-group{
    display:inline-block;
  }

  .nav-tab{
    display:none;
  }

  .nav-tab:after{
    display:none;
  }

  .nav-title{
    font:30px/30px 'Cantora One',sans-serif;
  }

  .nav-link{
    display:none;
  }

  .nav-link-menu-icon{
    position: relative;
  }

  .sub-menu{
    height: 0;
    margin:0;
    padding:0;
    position:absolute;
    left:0px;
    right: 0px;
    transition:height .2s;
    background-color: rgb(83, 108, 137);
    justify-content: space-around;
    align-items: flex-end;
    display: flex;
    z-index: 100;
  }

  .sub-menu-item-wrapper {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    justify-content: space-around;
    height: 50px;
  }

  .sub-menu-item{
    color:#e2dff3;
    font-size:18px;
    padding:6px 0 6px 6px;
    text-align:left;
    z-index:1;
    display: block;
  }

  .sub-menu .sub-menu-item:hover{
    background:#303036;
  }

  .show{
    height: 50px;
  }
}
