<div class="nav">
  <div class="nav-content container">
    <div class="nav-group">
      <div class="nav-title">CS 499 Trivia</div>
      <div role="presentation" class="nav-tab {{#if isHomePage}}active{{/if}}">
        <a href="/" class="nav-link">
          <i class="fa fa-home inline" aria-hidden="true"></i>
          <span>Home</span>
        </a>
      </div>
      <div role="presentation" class="nav-tab {{#if isPlayPage}}active{{/if}}">
        <a href="/play" class="nav-link">
          <i class="fa fa-graduation-cap inline" aria-hidden="true"></i>
          <span>Play</span>
        </a>
      </div>
      <div role="presentation" class="nav-tab {{#if isHubPage}}active{{/if}}">
        <a href="/hub" class="nav-link">
          <i class="fa fa-bar-chart inline" aria-hidden="true"></i>
          <span>Hub</span>
        </a>
      </div>
    </div>
    <div class="nav-group">
      {{> room}}
    </div>
  </div>
</div>
