<div class="user-menu adminPanel">
  <div class="user-menu-item fullWidth">
    <div class="user-menu-icon-wrapper usernameLabel">
      <i class="user-menu-item-icon fa fa-gear" aria-hidden="true"></i>
    </div>
    <div class="menu user-menu-item-label-wrapper">
      <div class="menu-spinner-wrapper disabled">
        <div class="menu-spinner-button">
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </div>
        <div class="menu-spinner-body-wrapper">
          <div class="menu-spinner-value" id="topicValue">
            Javascript
          </div>
          <div class="menu-spinner-label">
            Topic
          </div>
        </div>
        <div class="menu-spinner-button right">
          <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </div>
      </div>
      <div class="menu-spinner-wrapper">
        <div class="menu-spinner-button">
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </div>
        <div class="menu-spinner-body-wrapper">
          <div class="menu-spinner-value" id="roundTimeValue">
            10
          </div>
          <div class="menu-spinner-label">
            Round Time
          </div>
        </div>
        <div class="menu-spinner-button right">
          <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </div>
      </div>
      <div class="menu-spinner-wrapper">
        <div class="menu-spinner-button">
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </div>
        <div class="menu-spinner-body-wrapper">
          <div class="menu-spinner-value" id="numRoundsValue">
            5
          </div>
          <div class="menu-spinner-label">
            Rounds
          </div>
        </div>
        <div class="menu-spinner-button right">
          <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </div>
      </div>
      <button type="button" class="menu-button btn-primary" id="startGameButton">
        <i class="user-menu-item-icon fa fa-play" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>
