<p>{{question}}</p>
<ul>
  {{#each answers}}
    <input type="radio" name="answer" value="{{../ObjectID}}">{{this}}<br>
  {{/each}}
</ul>
<button type="button" id="answer_submit_button">Submit</button>
