<div class="questionBody">
  <p>{{question}}</p>
  <ul>
    {{#each answers}}
      <div>
        <input
          class="answer"
          data-question="{{../id}}"
          name="answer"
          type="radio"
          value="{{this}}">
        <span class="answerLabel">{{this}}</span>
        <br>
      </div>
    {{/each}}
  </ul>
</div>
