<div class="questionBody">
  <p>{{question}}</p>
  <ul>
    {{#each answers}}
      <div>
        <input
          type="radio"
          class="answer"
          name="answer"
          value="{{this}}"
          data-question="{{../id}}">
        {{this}}
        <br>
      </div>
    {{/each}}
  </ul>
</div>
