<div class="question-container">
  <h2 class="question-label inline">Question:</h2>
  <h3 class="question-text inline">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ac nibh gravida, rhoncus arcu et, convallis lacus morbi?
  </h3>
</div>
