<div class="nav-display">
  <div>Current Room: </div>
  <div id="room_id_label">{{roomNumber}}</div>
</div>
<div>
  <input id="room_id_field"
    type="text"
    class="form-control input-small"
    name="roomID"
    placeholder="New Room ID">
  <button id="join_room_button"
    class="btn btn-primary"
    type="button"
    disabled="true">
    Join
  </button>
</div>
