<div class="navbar-form navbar-right">
  <div class="input-group">
    <div class="well well-sm navlabel">
      <span>Current Room:</span>
      <span id="room_id_label">{{roomNumber}}</span>
    </div>
  </div>
  <div class="input-group">
    <input id="room_id_field"
      type="text"
      class="form-control"
      name="roomID"
      placeholder="New Room ID">
    <span class="input-group-btn">
      <button id="join_room_button"
        class="btn btn-default"
        type="button"
        disabled="true">
        Join
      </button>
    </span>
  </div>
</div>
