<div class="user-menu">
  <div class="user-menu-item single">
    <div class="user-menu-icon-wrapper usernameLabel">
      <i class="user-menu-item-icon fa fa-user" aria-hidden="true"></i>
      <div class="user-menu-edit-icon-wrapper">
        <i class="user-menu-edit-icon fa fa-pencil fa-flip-horizontal" aria-hidden="true"></i>
      </div>
    </div>
    <div class="user-menu-item-label-wrapper">
      <span class="user-menu-item-label">Player123</span>
      <input class="user-menu-label-edit">
    </div>
  </div>
  <div class="user-menu-item single right">
    <div class="user-menu-icon-wrapper roomLabel">
      <i class="user-menu-item-icon fa fa-users" aria-hidden="true"></i>
      <div class="user-menu-edit-icon-wrapper">
        <i class="user-menu-edit-icon fa fa-pencil fa-flip-horizontal" aria-hidden="true"></i>
      </div>
    </div>
    <div class="user-menu-item-label-wrapper">
      <span style="white-space: pre">Room </span>
      <span id="roomLabel" class="user-menu-item-label">11</span>
      <input name="roomID" class="user-menu-label-edit">
    </div>
  </div>
</div>
